.categories {
  padding-top: 100px;
  padding-left: 5vw;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--line-color);
}

.categoriesTitle {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 400;
}
