.task {
  margin-bottom: 10px;
}

.taskTop {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.taskBottom {
  display: none;
}

.taskText {
}

.taskIcon {
  padding-bottom: 3px;
  color: var(--primary-color);
  font-weight: 300;
  font-size: 24px;
}

.active {
  display: block;
}
