@import "./assets/normalize.css";
@import "./assets/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500&display=swap");

:root {
  --text-color-dark: #000000;
  --text-color: #595959;
  --line-color: #e2e2e2;
  --primary-color: #4285f4;
}

body {
  font-family: "Open-sans", sans-serif;
  color: var(--text-color);
}
